[submodule ".oh-my-zsh/custom/themes/powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule ".oh-my-zsh/custom/plugins/zsh-nvm"]
	path = .oh-my-zsh/custom/plugins/zsh-nvm
	url = git@github.com:lukechilds/zsh-nvm.git
[submodule ".config/cheat/cheatsheets/community"]
	path = .config/cheat/cheatsheets/community
	url = git@github.com:cheat/cheatsheets.git
